// colors
color-background = #fffffe;
color-gold = #f7d781;
color-black = #2e2925;
color-gray = #d7d2cb;

// @media
mq-col-9 = "screen and (min-width: 1366px)"
mq-col-6 = "screen and (min-width: 1000px) and (max-width: 1366px)"
mq-mobile = "screen and (max-width: 999px)"   // tablet + phone
mq-tablet = "screen and (min-width: 700px) and (max-width: 999px)"
mq-phone = "screen and (max-width: 699px)"
